@font-face {
  font-family: 'SpecialEliteRegular';
  src: local('SpecialEliteRegular'),
    url('./fonts/SpecialElite/SpecialElite-Regular.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: rgb(228, 121, 15, 0.8);
  max-width: 100%;
}

.main-bg-img {
  background-image: url(./photos/snowboard7.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.main-title {
  color: white;
  font-size: 90pt;
  padding-top: 5%;
  padding-left: 64%;
}

.main-text {
  color: white;
  font-size: 17pt;
  padding-left: 8%;
  padding-top: 1%;
  text-align: justify;
}

.login-bg-img {
  background-image: url(./photos/snowboard2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.login-form {
  color: rgb(255, 255, 255);
  width: 300px;
  text-align: center;
  display: inline-block;
}

.login-input {
  color: rgb(0, 0, 0);
  width: 300px;
  text-align: center;
  display: inline-block;
}

.login-background {
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid white;
  border-style: solid;
  border-radius: 25px;
  box-sizing: content-box;
  padding: 20px;
  margin-top: 10%;
  margin-left: 20%;
}

.login-button {
  justify-content: center;
  background-color: rgba(228, 121, 15, 0.8);
  color: white;
}

.signup-bg-img {
  background-image: url(./photos/snowboard6.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.signup-form {
  color: rgb(9, 70, 127);
  width: 300px;
  text-align: center;
  display: inline-block;
}

.signup-background {
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid rgba(9, 70, 127);
  border-style: solid;
  border-radius: 25px;
  box-sizing: content-box;
  padding: 20px;
  margin-top: 15%;
  margin-left: 15%;
}

.signup-button {
  justify-content: center;
  background-color: rgb(228, 121, 15, 0.8);
  color: white;
}

.trip-bg-img {
  background-image: url(./photos/snowboard5.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;

}

.trip-create-background {
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid rgba(228, 121, 15);
  border-style: solid;
  border-radius: 25px;
  box-sizing: content-box;
  padding: 20px;
  margin-left: 30%;
  margin-top: 13%;
}

.col-create-trip {
  padding: 0;
}

.trip-form {
  color: rgba(228, 121, 15);
  width: 300px;
  text-align: center;
  display: inline-block;
  font-size: large;
}

.trip-create-title {
  color:rgba(228, 121, 15)
}

.trip-button {
  justify-content: center;
  background-color: rgb(228, 121, 15, 0.8);
  color: white;
}

.trip-create-input {
  color: rgb(0, 0, 0);
  width: 300px;
  text-align: center;
  display: inline-block;
}

.trip-create {
  color: white;
}

.create-row {
  margin: 0px 0px 0px 0px;
}

.triplist-bg-img {
  background-image: url(./photos/snowboard8.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.trip-table {
  margin: 0 0 40px 0;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 2px 5px;
  background-color: rgba(12, 50, 185, 0.6);
}

.trip-row {
  display: table-row;
}

.trip-header {
  color: white;
  text-align: center;
  padding-bottom: 30px;
  position: sticky;
  font-size: x-large;
}

.trip-cell {
  color: white;
  padding: 6px 12px;
  display: table-cell;
  text-align: center;
}

.delete-button {
  width: 100px;
}

.trip-background {
  padding: 60px;
}

.trip-title {
  margin-top: 2%;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 60pt;
  text-align: center;
  margin-bottom: 3%
}

.trip-resort-link {
  color: white
}

.no-trip-background {
  background-image: url(./photos/snowboard.png);
  height: 100vh;
}

.no-trip-text {
  color: white;
  text-shadow: 2px 2px 6px black;
  margin-top: 6%;
  margin-left: 35%;
  margin-bottom: 2%;
  text-align: center;
  display: inline-flex;
  font-size: xx-large;
}

.no-trip-link {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: x-large;
}

.start-adventure-button {
  padding: 10px 10px 10px 10px;
  margin-left: 35%;
  background-color: rgba(255, 255, 255, 0.4)
}
.create-button {
  margin-top: 2%;
  margin-left: 2%;
}

.map-text {
  margin-left: 31%;
  margin-top: 5%;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 0px white;
}
.map-create {
  margin-top: 3%;
  width: 600px;
  height: 400px;
  margin-left: 25%;
  margin-bottom: 15%;
  border: 3px solid white;
  border-radius: 13%;
}

.create-trip {
  margin: 20px, px, 20px, 0px;
  background-color: #42a0a8;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline block;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.scrollable-table {
  position: relative;
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

.trip-table-scroll {
  position: relative;
  display: block;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
}

.resort-list-background {
  background-image: url('./photos/mountains.jpg');
  background-size: 100% 100%;
  max-width: 100%;
  height: 100vh;
}

.resort-row {
  margin: 0px 0px 0px 0px;
}

.resort-list-table {
  font-size: larger;
  width: 100%;
  box-shadow: 0 1px 3px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid teal;
}

.resort-name-link {
  color: orangered;
  text-align: center;
}

.state-name {
  color: black;
  text-align: center;
}

.resort-name-header {
  padding-top: 50px;
  text-align: center;
  font-size: x-large;
}

.resort-main-title {
  color: rgb(102, 82, 236);
  font-size: 90pt;
  padding-left: 38%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color:rgba(228, 121, 15, 0.8);
}

::-webkit-scrollbar-thumb {
  background: #42a0a8;
}

.map {
  width: 800px;
  height: 500px;
  margin-left: 15%;
  margin-bottom: 15%;
  border: 3px solid white;
  border-radius: 13%;
}

footer {
  border-top: 1px solid white;
  width: 100vw;
  max-width: 100%;
}

.footer-link {
  color: white
}

.logo-box {
  background-color: rgb(228, 121, 15, 0.8);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-color: white;
  border-style: ridge
}


.joke-box {
    position: absolute;
    top: 25px;
    right: 5%;
    font-size: 15px;
    background-color: rgb(228, 121, 15, 0.8);
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    width: fit-content;
    height: fit-content;

}

.joke-box p {
    margin: 0;
}
