.resort-card {
  padding: 20px;
  margin: 20px 0;
  height: fit-content;
  width: 100vw;
}

.img-fluid {
  width: 100%;
  max-width: 1200px;
  border-radius: 10%;
  margin: 100px;
}

.data-element {
  background-color: #0dd8b6ec;
  color: rgb(255, 255, 255);
  padding: 40px;
  margin-bottom: 40px;
  width: fit-content;
  height: fit-content;
  border-radius: 10%;
  margin-top: 40%;
}

.data-element p {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  border-bottom: 2px solid rgb(228, 121, 15, 0.7);
  font-size: large;
}

.container {
  padding: 20px;
  background-color: rgb(43, 186, 222, 0.6);
}

.col-md-6 {
  flex: 1;
}

.col-md-6:last-of-type {
  margin-right: 0;
}

.weather-container,
.table-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  max-width: 800px;
  overflow: hidden;
  flex-wrap: wrap;
}

.weather-row {
  display: table-row;
}

.weather-label,
.weather-day,
.weather-data {
  display: table-cell;
  padding: 10px;
}

.weather-label {
  font-weight: bold;
  width: 30%;
}

.weather-day {
  font-weight: bold;
}

.weather-data {
  border-bottom: 2px solid rgb(228, 121, 15, 0.7);
  font-size: large;
}

@media only screen and (max-width: 768px) {
  .col-md-6 {
    flex-basis: 100%;
    margin-right: 0;
  }

  .weather-row {
    display: block;
    margin-bottom: 10px;
  }

  .weather-label {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .weather-day,
  .weather-data {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
}

.card-link {
  color: white;
  text-shadow: 1px 1px 6px black;
}

.snow-container {
  position: relative;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  pointer-events: all;
  z-index: -1;
  overflow: hidden;
  max-width: 100%;
}

.snowflake {
  transform: translateY(-100%) translateX(-50%) scale(0.5);
  filter: brightness(1.5);
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-image: url("https://www.clipartmax.com/png/middle/227-2276650_pictures-of-snowflakes-best-of-snowflake-clipart-transparent-background.png");
  background-size: contain;
  animation: fall 5s linear infinite;
}

.snowflake-small {
  width: 25px;
  height: 25px;
  transform: translateY(-100%) translateX(-50%) scale(0.3);
}

.snowflake-large {
  width: 45px;
  height: 45px;
  transform: translateY(-100%) translateX(-50%) scale(0.7);
}

.snowflake-back {
  z-index: -2;
}

@keyframes fall {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(100vh);
  }
}
